/*
      *{
        margin: 0px;
      }
      div{
        position: absolute;
        margin: auto;
        left: 30%;
        box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-top: 40px;
      }
      
      fieldset{
        width: 600px;
        border: 0px;
        padding-top: 30px;
      }
      #top{
        padding: 30px;
        
      } */
       *{
        
        padding: 0;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       }
       fieldset{
        margin: 5em 0;
        padding: 1em 2em;
        border: 1px solid #ccc;
        border-radius: 6px;
        width: 100px;
        margin: auto;
       }
       legend{
        font-size: 1.25em;
        padding: 0 .25em;
        color: #999;
       }
       .content{
        display: flex;
       }
       .second{
        margin: 0 2em 0 5em;

       }
       label{
        display: block;
        margin-top: 1.5em;
       }
       input{
        padding: .5em;
        border: 1px solid #ccc;
       }
       input[type="text"], input[type="email"], input[type="number"]{
        width: 15em;
        height: 2em;
       }
       select{
        width: 13em;
        height: 3.5em;
        padding: 0;
        border: 1px solid #ccc;
       }
       .select{
        font-weight: 200;
       }
       textarea{
        margin-top: 1em;
        min-height: 8em;
        min-width: 100%;
        padding: .5em;
        border: 1px solid #ccc;
       }
       .areat{
        margin-top: 3em;
       }
       input[type="radio"]+label{
           display: inline-block;
           padding-top: 0.5em;
           margin-top: 1em;

       }
       input[type="radio"]{
        margin-left: 1.4em;
       }
       hr{
        border: 1px solid #ccc;
        margin: 2em 0 2em 0;
       }
       input[type="submit"]{
           width: 15em;
           height:5em;
           padding: .5em 1em ;
           border-radius: 6px;
           background-color: #333;
           color: #fff;
           font-size: .6em;
       }
       @media screen and (max-width: 700px) {
        legend{
            font-size: 1.75em;
        }
        fieldset{
            width: 80%;
            background-color: rgb(221, 236, 253);
            
        }
        input[type="text"], input[type="email"], input[type="number"]{
            width: 130px;
            
        }
        input[type="radio"]+label{
            display: block;
            padding: 0;
            
        }
        
       }
       